
html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #333;
    color: #61dafb;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #61dafb;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #21a0a0;
}

.hero-section {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to right, #21a0a0, #61dafb);
    color: #ffffff;
}

.hero-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 20px;
    margin-bottom: 30px;
}

.cta-buttons button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #ff6f61;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.cta-buttons button:hover {
    background-color: #cc5346;
    transform: scale(1.1);
}

.features {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right, #ff6f61, #21a0a0);
    padding: 50px 20px;
    color: #ffffff;
}

.feature {
    text-align: center;
    width: 30%;
}

.about-us {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff;
    color: #282c34;
}

.about-us button {
    background-color: #21a0a0;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.about-us button:hover {
    background-color: #1a807f;
    transform: scale(1.1);
}

.services {
    text-align: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
    color: #282c34;
}

.services .service {
    display: inline-block;
    margin: 20px;
    width: 30%;
}

footer {
    background-color: #333;
    color: #61dafb;
    text-align: center;
    padding: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .main-header {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .hero-section {
        padding: 50px 20px;
    }

    .hero-section h1 {
        font-size: 36px;
    }

    .features {
        flex-direction: column;
    }

    .feature {
        width: 80%;
        margin-bottom: 20px;
    }

    .services .service {
        width: 80%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .hero-section h1 {
        font-size: 28px;
    }

    .hero-section p {
        font-size: 18px;
    }
}
